<h1>Pins</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= image_tag pin.image.url(:medium) %></td>
        <td><%= pin.description %></td>
        <td><% pin.user.email %></td>
        <td><%= link_to 'Mostrar', pin %></td>
        <% if pin.user == current_user %>
          <td><%= link_to 'Editar', edit_pin_path(pin) %></td>
          <td><%= link_to 'Deletar', pin, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if user_signed_in? %>
  <%= link_to 'Novo Pin', new_pin_path %>
<% end %>
